<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id          = "uk.jdon.PriceChecker"
    versionCode = "1"
    version     = "1.0.0" >
    
    <!-- versionCode is optional and Android only -->
    <name>PriceX</name>
    <description>
        Uses eBay to check prices
    </description> 
    <author href="website" email="your email">
        Jonathan Donaldson
    </author>
	<!--
      This allows your app to load assets from all *.phongap.com domains
    -->
	<access origin="*" />
	
	 <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->


	<preference name="keepRunning" 				  value="false" />
	<preference name="AllowInlineMediaPlayback" 	  value="true"/>
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="handset" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="true" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="true" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="splash-screen-delay" 		  value="5000" />
    <!--
        Define a specific version of PhoneGap to build into your app.
        <preference name="phonegap-version"       value="3.5.0" />
    -->

    <!-- Plugins -->

    <!-- Core plugins 
	NOTE THAT ONLY IMPORT WHAT YOU NEED - WITH IOS 10 THERE ARE ADDITIONAL SECURITY FEATURES THAT MAY HINDER GETTING IT ONTO THE APP STORE 
	
	-->
	
    <!-- Core plugins -->

    <plugin name="cordova-plugin-console" spec="1.1.0"/>
    <plugin name="cordova-plugin-device" spec="2.0.2"/>
    <plugin name="cordova-plugin-dialogs" spec="2.0.1 "/>
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />

	
    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins
	THE BELOW IS AN EXAMPLE OF EXTRA SETTINGS FOR IOS1O SECURITY -->
    <!--<plugin name="phonegap-plugin-barcodescanner" >
	<variable name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes" />
	</plugin>
-->

    <!-- Third party plugins -->
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.0"/>

	<!--//these are generic not good enough for a live build - you will nedd to be os and device specific (android can use 9 slice png)-->
	<icon src="assets/icons/icon.png" />

	<splash src="splash.png" />
    
    <platform name="android">
	<icon density="ldpi" src="assets/icons/android/drawable-ldpi-icon.png" />
	<icon density="mdpi" src="assets/icons/android/drawable-mdpi-icon.png" />
	<icon density="hdpi" src="assets/icons/android/drawable-hdpi-icon.png" />
	<icon density="xhdpi" src="assets/icons/android/drawable-xhdpi-icon.png" />
	<icon density="xxhdpi" src="assets/icons/android/drawable-xxhdpi-icon.png" />
	<icon density="xxxhdpi" src="assets/icons/android/drawable-xxxhdpi-icon.png" />
	<splash density="land-ldpi" src="assets/screens/android/drawable-land-ldpi-screen.png" />
	<splash density="land-mdpi" src="assets/screens/android/drawable-land-mdpi-screen.png" />
	<splash density="land-hdpi" src="assets/screens/android/drawable-land-hdpi-screen.png" />
	<splash density="land-xhdpi" src="assets/screens/android/drawable-land-xhdpi-screen.png" />
	<splash density="land-xxhdpi" src="assets/screens/android/drawable-land-xxhdpi-screen.png" />
	<splash density="land-xxxhdpi" src="assets/screens/android/drawable-land-xxxhdpi-screen.png" />
	<splash density="port-ldpi" src="assets/screens/android/drawable-port-ldpi-screen.png" />
	<splash density="port-mdpi" src="assets/screens/android/drawable-port-mdpi-screen.png" />
	<splash density="port-hdpi" src="assets/screens/android/drawable-port-hdpi-screen.png" />
	<splash density="port-xhdpi" src="assets/screens/android/drawable-port-xhdpi-screen.png" />
	<splash density="port-xxhdpi" src="assets/screens/android/drawable-port-xxhdpi-screen.png" />
	<splash density="port-xxxhdpi" src="assets/screens/android/drawable-port-xxxhdpi-screen.png" />
</platform>
<platform name="ios">
	<icon height="57" platform="ios" src="assets/icons/ios/icon.png" width="57" />
	<icon height="114" platform="ios" src="assets/icons/ios/icon@2x.png" width="114" />
	<icon height="40" platform="ios" src="assets/icons/ios/icon-40.png" width="40" />
	<icon height="80" platform="ios" src="assets/icons/ios/icon-40@2x.png" width="80" />
	<icon height="50" platform="ios" src="assets/icons/ios/icon-50.png" width="50" />
	<icon height="100" platform="ios" src="assets/icons/ios/icon-50@2x.png" width="100" />
	<icon height="60" platform="ios" src="assets/icons/ios/icon-60.png" width="60" />
	<icon height="120" platform="ios" src="assets/icons/ios/icon-60@2x.png" width="120" />
	<icon height="180" platform="ios" src="assets/icons/ios/icon-60@3x.png" width="180" />
	<icon height="72" platform="ios" src="assets/icons/ios/icon-72.png" width="72" />
	<icon height="144" platform="ios" src="assets/icons/ios/icon-72@2x.png" width="144" />
	<icon height="76" platform="ios" src="assets/icons/ios/icon-76.png" width="76" />
	<icon height="152" platform="ios" src="assets/icons/ios/icon-76@2x.png" width="152" />
	<icon height="29" platform="ios" src="assets/icons/ios/icon-small.png" width="29" />
	<icon height="58" platform="ios" src="assets/icons/ios/icon-small@2x.png" width="58" />
	<icon height="87" platform="ios" src="assets/icons/ios/icon-small@3x.png" width="87" />
	<splash height="1136" platform="ios" src="assets/screens/ios/Default-568h@2x~iphone.png" width="640" />
	<splash height="1334" platform="ios" src="assets/screens/ios/Default-667h.png" width="750" />
	<splash height="2208" platform="ios" src="assets/screens/ios/Default-736h.png" width="1242" />
	<splash height="1242" platform="ios" src="assets/screens/ios/Default-Landscape-736h.png" width="2208" />
	<splash height="1536" platform="ios" src="assets/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
	<splash height="768" platform="ios" src="assets/screens/ios/Default-Landscape~ipad.png" width="1024" />
	<splash height="2048" platform="ios" src="assets/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
	<splash height="1024" platform="ios" src="assets/screens/ios/Default-Portrait~ipad.png" width="768" />
	<splash height="960" platform="ios" src="assets/screens/ios/Default@2x~iphone.png" width="640" />
	<splash height="480" platform="ios" src="res/screens/ios/Default~iphone.png" width="320" />
</platform>

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>Used to get location for personalized searches</string>
    </edit-config>
</widget>
